<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.draughts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/draughts"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <activity android:name="com.example.draughts.gui.MainActivity"
            android:theme="@style/MenuTheme"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".gui.GameActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait">
        </activity>
    </application>

</manifest>